/* Allows for layout of same size columns with a max width */

.ev-flex-columns {
    display: flex;
    flex-wrap: wrap;
    & > * {
    	flex-shrink: 0;
        overflow-y: auto;
    }

    &.ev-align-start  { align-items: start;  }
    &.ev-align-center { align-items: center; }
    &.ev-align-end    { align-items: end;    }

    .ev-align-self-start  { align-self: start;  }
 	.ev-align-self-center { align-self: center; }
	.ev-align-self-end    { align-self: end;    }
}
