
.ev-panels-container {
    height: 100%;
    width: 100%;
    display: table;
    .ev-panel {
        display: table-cell;
        vertical-align: top;
        background: @ev-panel-bg;
        position: relative;
        box-sizing: border-box;
        &:not(:first-child) {
            border-left: 1px solid @gray-light;
        }
    }

    /*********************************************************
     * STACKED STATE
     ********************************************************/

    .ev-panel.ev-stacked {
        max-width: @ev-panel-stacked-size;
        
        > *:not(.ev-panel-stacked) {
            display: none;
        }

        // Display only the panel-stacked section
        .ev-stacked-section{
            display: table;
            margin-left: 14px;
            height: 100%;
            width: 400px;
            .rotate(-90deg);
            transform-origin: 0 50%;
            -webkit-transform-origin: 0 50%;
            writing-mode: tb-rl;
            cursor: pointer;

            .ev-panel-stacked-title {
                display: table-cell;
                vertical-align: middle;
                text-transform: uppercase;
                color: @gray-dark;

                .icon {
                    position: relative;
                    bottom: 15px;
                    margin-right: 12px;
                    font-size: 18px;
                }

                &:hover {
                    color: @gray-darker;
                }
            }
        }
    }


    &.stacked-add.stacked-add-active,
    &.stacked-remove {
        max-width: 30px;
    }

    &.stacked-add,
    &.stacked-remove.stacked-remove-active {
        max-width: 1000px;
    }
}

.ev-panel-bg {
  background-color: @ev-panel-bg;
}

// Resizable stuff


/*********************************************************
 * RESIZABLE HANDLER
 ********************************************************/

.ev-panel > .ui-resizable-handle {
    background: transparent;
    left: -@ev-panel-inner-border-width / 2 ;
    top: 0;
    bottom: 0;
    width: @ev-panel-inner-border-width;
    height: auto;
}

.ev-panel:first-child > .ui-resizable-handle {
    display: none;
} 

.ui-resizable-helper {
    border: 2px dotted #e5d8ca;
    background-color: rgba(229, 216, 202,0.3);
}
