/******************************************************
 * Put here all the styles likely to be reused
 * throughout Lisette
 * - make separate common/*.less files for components
 *   getting too big
 ******************************************************/

.common-block {
    display: block;
}

.common-truncate {
    .text-overflow();
}

.common-empty-indic {
    padding: 40px;
    color: @gray;
    font-size: 14px;
    text-align: center;
}

// case switching scenarios
.case-create,
.case-edit {
    display: none;
}
.incase-create .case-create,
.incase-edit .case-edit {
    display: block;
}
.incase-create .case-create-i,
.incase-edit .case-edit-i {
    display: inline-block;
}

// big fat splashscreen used in modules
// to indicate that an operation is in progress
.progress-splashscreen {
    &:extend(.container-loading all);
    &:before {
        background: #FFF;
    }
}

// values that are undefined
.common-value {
    &.common-empty {
        font-style: italic;
        color: @gray;
    }
}



dl {
    dt {
        color: @gray;
        font-weight: 500;

        &:after {
          content: " :";
        }
    }

    &.dl-big {
        dt {
            width: 180px;
        }
        dd {
            margin-left: 200px;
        }
    }

    &.dl-horizontal {
        dt {
            text-align: left;
        }
    }
}


hr {
  &.hr-strong {
    border-top: @ev-panel-body-padding solid @ev-panel-bg;
    margin: @ev-panel-body-padding -@ev-panel-body-padding;
  }

  &.hr-separator {
    border-top: 2px solid @ev-panel-bg;
    margin: @ev-panel-body-padding -@ev-panel-body-padding;
  }

  &.hr-light {
    border-top: 1px solid @ev-panel-bg;
    margin: @ev-panel-body-padding -@ev-panel-body-padding;
  }

    &.hr-last {
        margin-bottom: 0px;
    }

    &.hr-first {
        margin-top: 0px;
    }
}


.section {
  padding: 0 @ev-panel-body-padding;
  .row {
    margin-left: -@ev-panel-body-padding;
    margin-right: -@ev-panel-body-padding;
  }
}

.full-height {
    overflow-y: auto;
    height: 100%;
}

.full-width {
    width: 100%;
}

.breakword {
    word-wrap: break-word;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}


@import "icons.less";
@import "icons-color.less";
@import "trends.less";
@import "table.less";
@import "flags.less";
@import "data.less";
@import "loading-dots.less";
@import "sortable.less";
@import "animations.less";
@import "controls.less";
@import "ev-panels.less";
@import 'ev-panel-responsive.less';
@import "list.less";
@import "promise.less";
@import "mixins.less";
@import "progress.less";
@import "countriesflags.less";
@import "buttongroup.less";
@import "thumbnails.less";
@import "ev-panel-tabs.less";
@import "input.less";
