@import "../variables.less";

.ev-panel-tab {
  background-color: @gray-lighter;

  .nav-tabs {
    // border-bottom: 5px solid @body-bg;
    border: none;
    >li {
      position: relative;
      top: -1px;
      &.active {
        >a,
        >a:hover,
        >a:focus {
          color: @gray-darker;
          border: none;
        }
      }
      >a:hover {
        color: @gray-dark;
        margin-bottom: 0;
      }

      >a {
        color: @gray;
        font-size: 1.5em;
        padding: 5px 15px;
        text-align: center;
        border: none;

        span {
          margin: 0;
        }
      }
    }
  }

  .tab-pane {
    padding-top: 5px;
    background-color: @body-bg;

    .modal-body {
      background-color: @body-bg;
    }

    &.active {
      display: block;
    }
  }
}

.ev-panel-tab .nav-tabs {
  text-transform: uppercase;

  div {
    margin: 10px 0;
  }

  a {
    color: @gray-dark;

    &:hover {
      text-decoration: none;
      color: @gray-darker;
    }
  }
}
