@import (reference) "variables.less";

.ev-min-sm {
	min-width: @breakpoint-sm;
}

.ev-min-md {
	min-width: @breakpoint-md;
}

.ev-min-lg {
	min-width: @breakpoint-lg;
}

.ev-max-xs {
	max-width: @breakpoint-sm - 1;
}

.ev-max-sm {
	max-width: @breakpoint-md - 1;
}

.ev-max-md {
	max-width: @breakpoint-lg - 1;
}