.application-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: @menu-height;
}

















/********************************************************************************************
                                TO BE REMOVED
********************************************************************************************/

/**
 * Lisette Module Main Area
 *
 * A module can contain multiple elements :
 * - a leftbar
 * - a topbar
 * - tabs
 *
 * All content must reside in the lisette-module-body area.
 */

/**
 * Lisette-module-* are going to be removed/deprecated
 * We keep them during the migration
 */

// .lisette-module {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;

//     .lisette-module-body {
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         overflow-y: auto;
//         overflow-x: hidden;
//         &:before {
//             display: block;
//             height: 3000px;
//         }
//     }

//     &.has-tabs {
//         .lisette-module-body {
//             top: @module-tabs-height;
//         }
//         .lisette-module-leftbar {
//             top: @module-tabs-height;
//         }
//         .lisette-module-topbar {
//             top: @module-tabs-height;
//         }
//     }

//     &.has-topbar {
//         .lisette-module-body {
//             top: @module-topbar-height;
//         }
//         &.topbar-size-big .lisette-module-body {
//             top: @module-topbar-height-size-big;
//         }
//         &.topbar-size-mini .lisette-module-body {
//             top: @module-topbar-height-size-mini;
//         }

//         .ev-panel-placeholder.ev-panel-main > .ev-panel,
//         .ev-panel-placeholder.ev-panel-placeholder-main > .ev-panel {
//             .table-container {
//                 top: @module-topbar-height;
//             }
//         }
//     }

//     &.has-bottombar {
//         .lisette-module-body {
//             bottom: @module-bottombar-height;
//         }
//         .ev-panel-placeholder.ev-panel-main > .ev-panel .table-container {
//             bottom: @module-bottombar-height;
//         }

//         .ev-panel-placeholder.ev-panel-main > .ev-panel .has-header,
//         .ev-panel-placeholder.ev-panel-placeholder-main > .ev-panel .has-header {
//             .table-container {
//                 bottom: @module-bottombar-height + @ev-panel-header-height;
//             }
//         }
//     }

//     &.has-leftbar {
//         .lisette-module-body {
//             left: @module-leftbar-width;
//         }
//         .lisette-module-topbar {
//             left: @module-leftbar-width;
//         }
//         .bottom-bar {
//             left: @module-leftbar-width;
//         }
//         // .ev-panel .table-container {
//         //     left: @module-leftbar-width;
//         // }

//         [data-breakpoint="min"],
//         [data-breakpoint="100"],
//         [data-breakpoint="200"],
//         [data-breakpoint="300"],
//         [data-breakpoint="400"],
//         [data-breakpoint="500"],
//         [data-breakpoint="600"],
//         [data-breakpoint="700"] {
//             .lisette-module-leftbar {
//               display: none;
//             }

//             .lisette-module-topbar {
//                 left: 0;
//             }

//             // .ev-panel .table-container {
//             //   left: 0;
//             // }
//         }

//         &.has-bottombar {
//             [data-breakpoint='min'],
//             [data-breakpoint='100'],
//             [data-breakpoint='200'],
//             [data-breakpoint='300'],
//             [data-breakpoint='400'],
//             [data-breakpoint='500'],
//             [data-breakpoint='600'],
//             [data-breakpoint='700'] {
//                 .bottom-bar {
//                     left: 0;
//                 }
//             }
//         }
//     }

//     &.has-topbar.has-tabs {
//         .lisette-module-body {
//             top: (@module-tabs-height + @module-topbar-height);
//         }
//         &.topbar-size-big .lisette-module-body {
//             top: (@module-tabs-height + @module-topbar-height-size-big);
//         }
//         &.topbar-size-mini .lisette-module-body {
//             top: (@module-tabs-height + @module-topbar-height-size-mini);
//         }
//         .lisette-module-topbar {
//             top: @module-tabs-height;
//         }

//         // .ev-panel-placeholder.ev-panel-main > .ev-panel .table-container,
//         // .ev-panel-placeholder.ev-panel-placeholder-main > .ev-panel .table-container {
//         //     top: (@module-tabs-height + @module-topbar-height);
//         // }

//         &.topbar-size-big .ev-panel-placeholder.ev-panel-main > .ev-panel .table-container,
//         &.topbar-size-big .ev-panel-placeholder.ev-panel-placeholder-main > .ev-panel .table-container {
//             top: (@module-tabs-height + @module-topbar-height-size-big);
//         }

//         &.topbar-size-mini .ev-panel-placeholder.ev-panel-main > .ev-panel .table-container,
//         &.topbar-size-mini .ev-panel-placeholder.ev-panel-placeholder-main > .ev-panel .table-container {
//             top: (@module-tabs-height + @module-topbar-height-size-mini);
//         }
//     }
// }

// .ev-panels-container {
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // z-index: @zindex-container;
// }

body.state-resolving {
    .lisette-module {
        &:extend(.container-loading all);
        &.has-tabs:before {
            top: @module-tabs-height;
        }
    }
}

// ------------------------------------
// BARS TOGGLABLE IN THE MODULE LAYOUT
// ------------------------------------

@import "module-bars/topbar.less";
@import "module-bars/bottom-bar.less";
@import "module-bars/tabs.less";

// ------------------------------------
// ELEMENTS OF MODULE THAT CAN BE ADDED
// ------------------------------------

@import "module-elements/actionbar.less";
@import "module-elements/notifications.less";
@import "module-elements/searchbar.less";
