.application-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: @menu-height;
}

// ------------------------------------
// BARS TOGGLABLE IN THE MODULE LAYOUT
// ------------------------------------

@import "module-bars/tabs.less";

// ------------------------------------
// ELEMENTS OF MODULE THAT CAN BE ADDED
// ------------------------------------

@import "module-elements/action-bar.less";
@import "module-elements/notifications.less";
@import "module-elements/search-bar.less";
