@import "variables.less";
@import "../mixins/mixins.less";

@import "../utils/layout.less";

.ev-panels-container {
    background: @ev-panel-dark-color;
    .flexbox();
    /*********************************************************
     * NORMAL STATE
     ********************************************************/
}

.ev-panel {
    position: relative;
    min-width: @ev-panel-min-width;
    &:not(:first-child) {
        border-left: 1px solid @ev-panel-dark-color;
    }


    // Main close button for panel
    .main-close {
        right: 0;
        font-size: 2em;
        padding: @ev-panel-padding;
        position: absolute;
    }
}

.ev-panel:not(.ev-stacked) {
    height: inherit;
    background: @ev-panel-color;
    .ev-stacked-show {
        display: none;
    }
}

    /*********************************************************
     * STACKED STATE
     ********************************************************/

.ev-panel.ev-stacked {
    max-width: @ev-panel-stacked-size;
    min-width: @ev-panel-stacked-size;
    .align-self(center);

    > * {
        .transform(rotate(-90deg));
        white-space: nowrap;
    }
    // Hide everything that FOLLOW the stacked section
    .ev-stacked-hide {
        display: none;
    }

    &:not(:first-child) {
        border-left: 1px solid @ev-panel-color;
    }
}

// Hide in mobile
@media (max-width: 700px) {
    .ev-panel.ev-stacked {
        display: none;
    }
}

.ev-panel-bg {
    background-color: @ev-panel-color;
}
