@import "variables.less";
@import "../mixins/mixins.less";

@import "../utils/layout.less";

.ev-panels-container {
    background: @ev-panel-dark-color;
    .flexbox();
    .align-items(stretch);
    /*********************************************************
     * NORMAL STATE
     ********************************************************/
}

.ev-panel {
    min-width: @ev-panel-min-width;
    &:not(:first-child) {
        border-left: 1px solid @ev-panel-dark-color;
    }


    // Close button
    .close {
        right: 0;
        font-size: 2em;
        padding: @ev-panel-padding;
        position: absolute;
    }
}


.ev-panel:not(.ev-stacked) {
    height: inherit;
    background: @ev-panel-color;
    .ev-stacked-show {
        display: none;
    }
}

    /*********************************************************
     * STACKED STATE
     ********************************************************/

.ev-panel.ev-stacked {
    max-width: @ev-panel-stacked-size;
    min-width: 0;
    .align-self(center);

    > * {
        .transform(rotate(-90deg));
        white-space: nowrap;
    }
    // Hide everything that FOLLOW the stacked section
    .ev-stacked-hide {
        display: none;
    }

    &:not(:first-child) {
        border-left: 1px solid @ev-panel-color;
    }
}

.ev-panel-bg {
    background-color: @ev-panel-color;
}

// Resizable stuff


/*********************************************************
 * RESIZABLE HANDLER
 ********************************************************/

.ev-panel {
    & > .ui-resizable-handle {
        background: transparent;
        position: absolute;
        right: -@ev-panel-padding / 2 ;
        top: 0;
        bottom: 0;
        width: @ev-panel-padding;
        height: auto;
    }

    &.ev-stacked .ui-resizable-handle,
    &:last-child .ui-resizable-handle {
        display: none !important;   // Mandatory here since a display: block is added by jQuery to the element
    }

    .ui-resizable-helper {
        border: 2px dotted @ev-panel-dark-color;
        background-color: fade(@ev-panel-dark-color, 30%);
    }
    
    .ui-resizable-e {
        cursor: col-resize;        
    }
}

