@import "../colors/variables.less";
@import "../responsive/variables.less";
/*
    Panel variables
    ===============

    Color
    -----
*/
        @ev-panel-color:            @white-soil;
        @ev-panel-dark-color:       @bright-soil;
/*
    Size
    ----
*/
        @ev-panel-stacked-size:     30px;
        @ev-panel-padding:          @grid-gutter-width / 2;
        @ev-panel-min-width:        280px;