/*
    Responsive variables
    ====================

    Grid
    ----
    The number of columns in the grid (create as much `col-*` classes as there are columns)
*/
        @num-columns:       12;
//  Gutter width:
        @grid-gutter-width: 20px;

/*
    Container
    ---------
    The size of the container class based on the viewport type (xs, sm, md, lg)
*/
        @container-sm:      ((720px + @grid-gutter-width));
        @container-md:      ((940px + @grid-gutter-width));
        @container-lg:      ((1140px + @grid-gutter-width));
