@import "variables.less";
@import (reference) "bower_components/bootstrap/less/type.less";


// Lists
//
// Styleguide 3

// Unstyled list
//
// Remove the default user agent style on list with `.list-unstyled`
//
// Markup:
// <ul class="list-unstyled">
// 	<li> Eggs </li>
// 	<li> Milk </li>
// 	<li> Beers </li>
// </ul>
//
// Styleguide 3.1

.list-unstyled {
	.list-unstyled;
}


// Standard list
//
// A standard list in ev-fdm. You can add the base class `.ev-list` to any `div`. All of its direct
// children will be styled like list element.
//
// Markup:
// <ul class="ev-list">
// 	<li> Eggs </li>
// 	<li> Milk </li>
// 	<li> Beers </li>
// </ul>
//
// Styleguide 3.2.0


.ev-list {
	.list-unstyled;
	margin: 0;
	> * {
		padding: @ev-list-vertical-padding @ev-list-horizontal-padding;
		border-bottom: solid 1px @ev-list-border-color;
		&:last-child {
			border-bottom-width: 0px;
		}
	}
}

// Activable lists
//
// For activable list, you can add the `.ev-list-activable`. This useful with the `activable-set` directive.
//
// Markup:
// <ul class="ev-list ev-list-activable">
// 	<li activable> Eggs </li>
// 	<li activable class="active"> Milk </li>
// 	<li activable> Beers </li>
// </ul>
//
// Styleguide 3.2.1

.ev-list.ev-list-activable > * {
	border-left: @ev-list-emphasis-size solid transparent;
	&.active {
		border-left: @ev-list-emphasis-size solid @ev-list-emphasis-color;
	}
	&[activable] {
		cursor: pointer;
		&:not(.active):hover {
			border-left: 3px solid fade(@brand-primary, 50%);
		}
	}
}

// Item styling
//
// You can style add any of the following class to a child element of an `ev-list` class
//
// .ev-separator-bottom 	- Add a strong separator to the bottom of the element
// .ev-separator-top	 	- Add a strong separator to the top of the element
//
// Markup:
// <ul class="ev-list ev-list-activable">
// 	<li> Eggs </li>
// 	<li> Milk </li>
// 	<li class="{$modifiers}"> Beers </li>
// </ul>
//
// Styleguide 3.3

.ev-list {
	&> .ev-separator-bottom {
		border-bottom-width: @ev-list-separator-size;
	}

	&> .ev-separator-top {
		border-top: solid (@ev-list-separator-size - 1px) @ev-list-border-color;
		&:first-child {
			border-top-size: @ev-list-separator-size;
		}
	}
}