@import "../colors/variables.less";
@import "../responsive/variables.less";

/*
    List variables
    ==============

    Color
    -----
*/
		@ev-list-border-color: @bright-soil;

		// ev-list-activable
		@ev-list-emphasis-color: @lime;
		@ev-list-emphasis-light-color: fade(@lime, 50%);

/*
    Size
    ----
*/
		@ev-list-vertical-padding: 10px;
		@ev-list-horizontal-padding: 0;
		@ev-list-emphasis-size: 3px;
		@ev-list-separator-size: 3px;
