@import "../colors/variables.less";
@import "../responsive/variables.less";

/*
    List variables
    ==============

    Color
    -----
*/
		@ev-list-border-color: @lighter-gray;

		// ev-list-activable
		@ev-list-emphasis-color: @brand-primary;
		@ev-list-emphasis-light-color: fade(@brand-primary, 50%);

		// ev-processed 
		@ev-list-processed-color: lighten(@lighter-gray, 5%);

/*
    Size
    ----
*/
		@ev-list-vertical-padding: 10px;
		@ev-list-horizontal-padding: @grid-gutter-width/2;
		@ev-list-emphasis-size: 3px;
		@ev-list-separator-size: 3px;
