@import "../variables.less";

/*
    Buttons variables
    =================

    Color
    -----
*/
    @btn-colors: 'lime', 'orange', 'soil', 'pool';

    @btn-darken-hover-factor:    10%;
    @btn-darken-active-factor:   15%;

    @btn-border-ligthess-factor: 60%;
    @btn-border-max-lighteness:  75%;

/*
    Size
    ----
*/
    @btn-lg-font-size:  18px;
    @btn-lg-padding:    9px 24px;

    @btn-md-font-size:  14px;
    @btn-md-padding:    6px 16px;

    @btn-sm-font-size:  12px;
    @btn-sm-padding:    5px 12px;

    @btn-xs-font-size:  10px;
    @btn-xs-padding:    4px 10px;


    @btn-border-radius: @border-radius;
    @btn-border-width:  @border-width;
    @btn-margin-size:   @margin-size;
