/*
	Color variables
	=================

	Here are defined the color variables for ev-fdm

	Main palette color
	------------------
*/
		@brand-primary: 	#33cc99;
		@brand-warning: 	#fdca30;
		@brand-success: 	#33cc99;
		@brand-danger: 		#F79400;
		@brand-info: 		#4ba6f5;


/*
	Grays
	------
*/
		@gray: 				#96704d;
		@dark-gray:   	 	#49301f;
		@darker-gray: 	 	#1e140b;
		@light-gray:  	 	#c5ac93;
		@lighter-gray:	 	#f4e8d8;

