/*
	Color variables
	=================

	Here are defined the color variables for ev-fdm

	Main palette color
	------------------
*/
		@lime: 		#33cc99;
		@gold: 		#fdca30;
		@orange: 	#F79400;
		@pool: 		#4ba6f5;

		// This is a the list of all the palette colors. It is used to customize classes name.
		// So basically, you can name your color whatever you want, all the color related classes will have the proper color. 
		@palette-colors: 'lime', 'gold', 'orange', 'pool';


/*
	Neutral colors
	--------------
*/
		@soil: 				#96704d;
		@deep-soil:   	 	#49301f;
		@dark-soil: 	 	#1e140b;
		@light-soil:  	 	#c5ac93;
		@bright-soil:	 	#f4e8d8;

		// This is a the list of all the neutral colors. It is used to customize classes name.
		// So basically, you can name your color whatever you want, all the color related classes will have the proper color. 
		@neutral-colors: 'soil', 'deep-soil', 'dark-soil', 'light-soil', 'bright-soil';
